body {
  background: #f2f2f2;
  font-family: 'proxima-nova-soft', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div.navbar {
  position: relative;
}

div.navbar ul {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  bottom: 10px;
}

div.navbar ul li {
  float: left;
}

div.navbar ul li a:not(.user) {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 20px;
}

div.navbar ul li a:not(.user).active {
  background-color: #a31d0b;
}

div.navbar ul li a:hover:not(.active) {
  background-color: #111;
}

div.navbar ul li img {
  position: absolute;
  height: 60px;
  display: block;
  right: 50%;
}

div.navbar ul li img:hover {
  transform: scale(1.4);
}